<VirtualHost *:80>
	ServerName blankapp.local
	DocumentRoot /var/git/zf2/blank-app/public

	SetEnv APPLICATION_ENV "development"
 
	<Directory "/var/git/zf2/blank-app/public">
		Order deny,allow
		Allow from all

		AllowOverride None
	</Directory>

	RewriteEngine On
	RewriteCond %{DOCUMENT_ROOT} -s [OR]
	RewriteCond %{DOCUMENT_ROOT} -l [OR]
	RewriteCond %{DOCUMENT_ROOT} -d
	RewriteRule ^.*$ - [NC,L]
	RewriteRule !\.(js|ico|txt|gif|jpg|png|css)$ index.php [NC,L]
</VirtualHost>
